@font-face {
  font-family: "decovar";
  src: url("https://rawgit.com/TypeNetwork/fb-Decovar/master/fonts/DecovarAlpha-VF.ttf"); }

html {
  /*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
  /* Document
       ========================================================================== */
  /**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
  /* Sections
       ========================================================================== */
  /**
     * Remove the margin in all browsers (opinionated).
     */
  /**
     * Add the correct display in IE 9-.
     */
  /**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
  /* Grouping content
       ========================================================================== */
  /**
     * Add the correct display in IE 9-.
     */
  /**
     * Add the correct margin in IE 8.
     */
  /**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
  /**
     * Add the correct display in IE.
     */
  /**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
  /* Links
       ========================================================================== */
  /**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
  /* Text-level semantics
       ========================================================================== */
  /**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
  /**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
  /**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
  /**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
  /**
     * Add the correct font style in Android 4.3-.
     */
  /**
     * Add the correct background and color in IE 9-.
     */
  /**
     * Add the correct font size in all browsers.
     */
  /**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
  /* Embedded content
       ========================================================================== */
  /**
     * Add the correct display in IE 9-.
     */
  /**
     * Add the correct display in iOS 4-7.
     */
  /**
     * Remove the border on images inside links in IE 10-.
     */
  /**
     * Hide the overflow in IE.
     */
  /* Forms
       ========================================================================== */
  /**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
  /**
     * Show the overflow in IE.
     */
  /**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
  /**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
  /**
     * Show the overflow in Edge.
     */
  /**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
  /**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
  /**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
  /**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
  /**
     * Correct the padding in Firefox.
     */
  /**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
  /**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
  /**
     * Remove the default vertical scrollbar in IE.
     */
  /* Interactive
       ========================================================================== */
  /*
     * Add the correct display in Edge, IE, and Firefox.
     */
  /*
     * Add the correct display in all browsers.
     */
  /*
     * Add the correct display in IE 9-.
     */
  /* Scripting
       ========================================================================== */
  /**
     * Add the correct display in IE 9-.
     */
  /**
     * Add the correct display in IE.
     */
  /* Hidden
       ========================================================================== */
  /**
     * Add the correct display in IE 10-.
     */ }
  html html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }
  html body {
    margin: 0; }
  html article,
  html aside,
  html footer,
  html header,
  html nav,
  html section {
    display: block; }
  html h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  html figcaption,
  html figure {
    display: block; }
  html figure {
    margin: 1em 40px; }
  html hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */ }
  html main {
    display: block; }
  html pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */ }
  html a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */ }
  html abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */ }
  html b,
  html strong {
    font-weight: inherit; }
  html b,
  html strong {
    font-weight: bolder; }
  html code,
  html kbd,
  html samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */ }
  html dfn {
    font-style: italic; }
  html mark {
    background-color: #ff0;
    color: #000; }
  html small {
    font-size: 80%; }
  html sub,
  html sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  html sub {
    bottom: -0.25em; }
  html sup {
    top: -0.5em; }
  html audio,
  html video {
    display: inline-block; }
  html audio:not([controls]) {
    display: none;
    height: 0; }
  html img {
    border-style: none; }
  html svg:not(:root) {
    overflow: hidden; }
  html button,
  html input,
  html optgroup,
  html select,
  html textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */ }
  html button {
    overflow: visible; }
  html button,
  html select {
    /* 1 */
    text-transform: none; }
  html button,
  html html [type="button"],
  html [type="reset"],
  html [type="submit"] {
    -webkit-appearance: button;
    /* 2 */ }
  html button,
  html [type="button"],
  html [type="reset"],
  html [type="submit"] {
    /**
       * Remove the inner border and padding in Firefox.
       */
    /**
       * Restore the focus styles unset by the previous rule.
       */ }
    html button::-moz-focus-inner,
    html [type="button"]::-moz-focus-inner,
    html [type="reset"]::-moz-focus-inner,
    html [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0; }
    html button:-moz-focusring,
    html [type="button"]:-moz-focusring,
    html [type="reset"]:-moz-focusring,
    html [type="submit"]:-moz-focusring {
      outline: 1px dotted ButtonText; }
  html input {
    overflow: visible; }
  html [type="checkbox"],
  html [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  html [type="number"]::-webkit-inner-spin-button,
  html [type="number"]::-webkit-outer-spin-button {
    height: auto; }
  html [type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
    /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
    html [type="search"]::-webkit-search-cancel-button, html [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }
  html ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */ }
  html fieldset {
    padding: 0.35em 0.75em 0.625em; }
  html legend {
    box-sizing: border-box;
    /* 1 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    color: inherit;
    /* 2 */
    white-space: normal;
    /* 1 */ }
  html progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }
  html textarea {
    overflow: auto; }
  html details {
    display: block; }
  html summary {
    display: list-item; }
  html menu {
    display: block; }
  html canvas {
    display: inline-block; }
  html template {
    display: none; }
  html [hidden] {
    display: none; }

body {
  background: black;
  overflow-x: hidden; }

.scene {
  --main: #ff4500;
  --neu-dark: #9c2a00;
  --neu-light: #ff6e00;
  width: 100vw;
  height: 70vw;
  background: url("movingtree.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .scene .overlay {
    position: absolute;
    background: var(--main);
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 1s ease; }
    .scene .overlay.out {
      background: transparent; }
  .scene .leaf.one {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 0vw;
    left: 10vw;
    transform: rotate(160deg) scale(5); }
  .scene .leaf.two {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 45vw;
    left: 60vw;
    transform: rotate(150deg) scale(9); }
  .scene .leaf.three {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 25vw;
    left: 10vw;
    transform: rotate(-45deg) scale(8); }
  .scene .leaf.four {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 55vw;
    left: 0vw;
    transform: rotate(25deg) scale(7); }
  .scene .leaf.five {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 50vw;
    left: 25vw;
    transform: rotate(0deg) scale(7); }
  .scene .leaf.six {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 0vw;
    left: 60vw;
    transform: rotate(120deg) scale(5); }
  .scene .leaf.seven {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 35vw;
    left: 40vw;
    transform: rotate(-135deg) scale(5); }
  .scene .leaf.eight {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 22vw;
    left: 66vw;
    transform: rotate(-30deg) scale(7); }
  .scene .leaf.nine {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 10vw;
    left: 35vw;
    transform: rotate(-25deg) scale(9); }
  .scene .leaf.ten {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 0vw;
    left: 90vw;
    transform: rotate(230deg) scale(7); }
  .scene .leaf.eleven {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 50vw;
    left: 85vw;
    transform: rotate(45deg) scale(5); }
  .scene .leaf.twelve {
    position: absolute;
    clip-path: url("#leaf");
    background: #ff4500;
    width: 10vw;
    height: 15vw;
    top: 27vw;
    left: 85vw;
    transform: rotate(0deg) scale(6); }
  .scene svg {
    width: 100%;
    position: absolute; }

@keyframes pushUp {
  0% {
    text-shadow: 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-light), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-light), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-dark), 0px 0px 0px var(--neu-dark);
    color: #ff4500;
    font-variation-settings: "BLDA" 0, "SKLB" 0; }
  50% {
    text-shadow: 1px 1px 1px var(--neu-dark), -1px -1px 1px var(--neu-light), 2px 2px 2px var(--neu-dark), -2px -2px 2px var(--neu-light), 3px 3px 2px var(--neu-dark), 4px 4px 2px var(--neu-dark), 5px 5px 2px var(--neu-dark), 6px 6px 2px var(--neu-dark), 7px 7px 2px var(--neu-dark), 8px 8px 2px var(--neu-dark), 9px 9px 2px var(--neu-dark), 10px 10px 2px var(--neu-dark);
    color: #ff4500;
    font-variation-settings: "BLDA" 0, "SKLB" 1000; }
  100% {
    color: transparent;
    background: url("https://ik.imagekit.io/g0osqsaljoz/Random/andrew-buchanan-Ipvjzj5YBu4-unsplash-min_7D2suriQNa_.jpg");
    background-size: contain;
    background-clip: text;
    font-variation-settings: "BLDA" 800, "SKLB" 1000;
    text-shadow: none; } }
  .scene .neo {
    margin: 0;
    position: relative;
    letter-spacing: 0.75vw;
    color: #ff4500;
    transform: translate(15%, -35%);
    font-family: "decovar";
    font-weight: 600;
    font-variation-settings: "BLDA" 0, "SKLB" 0;
    font-size: 10vw;
    text-shadow: none;
    opacity: 0;
    z-index: 0; }
    .scene .neo:before {
      content: "NATURE";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      text-shadow: 1px 1px 1px rgba(24, 54, 0, 0), -1px 1px 1px rgba(24, 54, 0, 0), -1px -1px 1px rgba(24, 54, 0, 0), 1px -1px 1px rgba(24, 54, 0, 0);
      transition: all 0.3s linear 1.5s; }
    .scene .neo.out {
      opacity: 1;
      animation: pushUp 2s ease forwards; }
      .scene .neo.out:before {
        text-shadow: 2px 2px 1px rgba(24, 54, 0, 0.4), -2px 2px 1px rgba(24, 54, 0, 0.4), -2px -2px 1px rgba(24, 54, 0, 0.4), 2px -2px 1px rgba(24, 54, 0, 0.4); }

@keyframes retro {
  0% {
    color: transparent;
    background: url("https://ik.imagekit.io/g0osqsaljoz/Random/andrew-buchanan-Ipvjzj5YBu4-unsplash-min_7D2suriQNa_.jpg");
    background-size: contain;
    background-clip: text;
    font-variation-settings: "BLDA" 800, "SKLB" 1000;
    text-shadow: none;
    letter-spacing: 0.75vw; }
  99% {
    color: white;
    background: url("https://ik.imagekit.io/g0osqsaljoz/Random/andrew-buchanan-Ipvjzj5YBu4-unsplash-min_7D2suriQNa_.jpg");
    background-size: contain;
    background-clip: text;
    font-variation-settings: "BLDA" 0, "SKLB" 0;
    text-shadow: none; }
  100% {
    color: white;
    font-variation-settings: "BLDA" 0, "SKLB" 0;
    text-shadow: none;
    letter-spacing: 0.5vw; } }
    .scene .neo.out.back {
      animation: retro 1s ease forwards; }
      .scene .neo.out.back:before {
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), -2px 2px 1px rgba(0, 0, 0, 0.4), -2px -2px 1px rgba(0, 0, 0, 0.4), 2px -2px 1px rgba(0, 0, 0, 0.4); }
  .scene .sub {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2vw;
    color: white;
    letter-spacing: 0.4vw;
    align-self: center;
    transform: translate(-31.85vw, 100%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8), -1px 1px 1px rgba(0, 0, 0, 0.8), -1px -1px 1px rgba(0, 0, 0, 0.8), 1px -1px 1px rgba(0, 0, 0, 0.8);
    opacity: 0; }
  .scene .move {
    font-family: "decovar";
    font-weight: 600;
    font-size: 7vw;
    color: transparent;
    position: relative;
    transform: translate(-140%, 80%);
    text-shadow: 0px 0px 0px rgba(24, 54, 0, 0), 0px 0px 0px rgba(24, 54, 0, 0), 0px 0px 0px rgba(24, 54, 0, 0), 0px 0px 0px rgba(24, 54, 0, 0), 0px 0px 0px rgba(24, 54, 0, 0);
    letter-spacing: 0.3vw; }
    .scene .move:before {
      content: "";
      position: absolute;
      width: 95%;
      height: 67.5%;
      top: 35%;
      left: 12.5%;
      z-index: -1;
      background: var(--main);
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 1s ease; }

@keyframes shift {
  0% {
    color: transparent;
    text-shadow: 0px 0px 0px rgba(24, 54, 0, 0.7), 0px 0px 0px rgba(24, 54, 0, 0.7), 0px 0px 0px rgba(24, 54, 0, 0.7), 0px 0px 0px rgba(24, 54, 0, 0.7), 0px 0px 0px rgba(24, 54, 0, 0);
    font-variation-settings: "WMX2" 0; }
  100% {
    color: white;
    text-shadow: -1px -1px 1px rgba(24, 54, 0, 0.7), -2px -2px 1px rgba(24, 54, 0, 0.7), -3px -3px 1px rgba(24, 54, 0, 0.7), -4px -4px 1px rgba(24, 54, 0, 0.7), -5px -5px 1px rgba(24, 54, 0, 0.7);
    font-variation-settings: "WMX2" 500; } }
    .scene .move.out {
      animation: shift 0.4s linear forwards; }
      .scene .move.out:before {
        transform: scaleX(1); }

@media (min-width: 1017px) {
  .scene {
    background-size: cover;
    transform: translateY(-26%); } }
